<!DOCTYPE html>
<html>
    <head>
        <title>ml predictor</title>
        <link rel="stylesheet" href="/css/home1.css">
    </head>
    <body>
        <div id="top">
            <div class="a">
            <a id="symbol" href="/"><img width="200px" height="200px" src="./images/logo.jfif"></a>
            </div>
            <div class="a" id="head">
            <a class="head1" href="/">Home</a>
            <a class="head1" href="/tutorials">Tutorials</a>
            <a class="head1" href="">Careers</a>
            <a class="head1" href="">About Us</a>
            <a class="head1" href="">Contack Us</a>
            <a id="signButton" href="/signin">sign in</a>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item" id="quote">
                <h1 id="top-heading">Deliver Delightful Customer experiences powered by data & insights.</h1>
                <div id="information">We at STKpredictor help you with your investment in stock market by providing you with importent data</div>
                <a id="signupButton" href="/signup">create your free account now</a>
            </div>
            <div class="grid-item" id="vector"><img height="500px" src="./images/vector3.jpg"></div>
        </div>
        <div id="ourGoal">
            <div class="subHeading">WHAT WE DO</div>
            <div id="container">
            <div id="information2">Our Mission at STKpredictor is to make accurate future predictions of the company you are interested in investing money and help you with understanding that company in just few minutes</div>
            </div>
        </div>
        <div class="getStarted">GET STARTED</div>
        <div class="grid-container2">
            <div class="grid-item2">
                <div class="tu_stepimg"><img width="200px" src="./images/tu_step1.jpg"></div>
                <div class="tu_stepinfo">create your account</div>
            </div>
            <div class="grid-item2">
                <div class="tu_stepimg" id="tu_stepimg2"><img width="150px" src="./images/tu_step2.jpg"></div>
                <div class="tu_stepinfo">go to <a href="https://in.finance.yahoo.com/">yahoo finance</a> and search for company you are interested in investing</div>
            </div>
            <div class="grid-item2">
                <div class="tu_stepimg" id="tu_stepimg3"><img width="200px" src="./images/tu_step3.jpg"></div>
                <div class="tu_stepinfo">copy symbol of that company as example shown above of BSE Sensex</div>
            </div>
            <div class="grid-item2">
                <div class="tu_stepimg" id="tu_stepimg4"><img width="150px" src="./images/tu_step4.jpg"></div>
                <div class="tu_stepinfo">paste the symbol in the search bar of stkpredictor</div>
            </div>
            <div class="grid-item2">
                <div class="tu_stepimg"><img width="300px" src="./images/tu_step5.jpg"></div>
                <div class="tu_stepinfo">click on predict button and your future is waiting for you</div>
            </div>

        </div>
    </body>
</html>