<!DOCTYPE html>
<html>
    <head>
        <title>asdf</title>
        <link rel="stylesheet" href="./css/loader.css">
    </head>
    <body>
        <div id="information">You will be redirected back to this page if your analysis is not ready. pls be patient.</div>
        <div id="demo"></div>
        <a href="/output" id="outputLink">click to know your analysis</a>
        <img id="loadingSign" src="./images/loading.gif">
        <script src="./javascript/loader.js"></script>
    </body>
</html>