<!DOCTYPE html>
<html>
    <head>
        <title>ml-interface</title>
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <div class="main-container">
            <div id="main-grid-1">
                <div id="backButton">
                    <a href="/"><<<<span>&#8592;</span>back</a>
                </div>
                <div id="signin-button">
                    <a href="signin?">Login>></a>
                </div>
            </div>
            <div id="main-grid-2">
                <div class="signup-container">
                    <h1>REGISTER</h1>
                    <form action="/signup" method="POST">
                        <input type="text" name="fname" autocomplete="off" placeholder="First Name"><br>
                        <input type="text" name="lname" autocomplete="off" placeholder="Last name"><br>
                        <input type="text" name="username" autocomplete="off" placeholder="username" required><br>
                        <input type="email" name="email" autocomplete="off" placeholder="E-mail" required><br>
                        <input type="password" name="password" placeholder="password" required><br>
                        <input type="password" placeholder="confirm password" required><br>
                        <button id="buttonSubmit">Sign UP</button>
                    </form><br>
                    <hr width="200px" style="display: inline-block;"><p id="or">or</p><hr width="200px" style="display: inline-block;">
                    <br>
                    <div>facebook</div>
                    <div>twitter</div>
                    <div>google</div>
                </div>
            </div>
            <div id="main-grid-3">

            </div>
        </div>
    </body>
</html>