#demo{
    margin: auto;
    font-size: 30px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#outputLink{
    visibility: hidden;
    text-align: center;
}
#loadingSign{
    text-align: center;
    top: 100px;
}